@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --firstColor: #8e7bef;
    --secondColor: #5d3bef;
    --textDefault: #f9f6ff;
    --textMain: #222222;
    --textParrafo: #423f40;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* ----------------Design Navbar Hamburger ------------- */
.toggle__menu img {
    max-width: 100%;
}

.toggle__menu {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    width: 40px;
    z-index: 1;
}

.toggle__menu:hover {
    transform: scaleY(1.2);
    transition: 0.4s;
}

 
@media (min-width: 900px) {
    .toggle__menu {
        display: none;
    }
}

.main__menu {
    list-style: none;
    height: 100%;
    width: 40%;
    max-width: 200px;
    transition: transform 1s;
    transform: translateX(-100%);
    position: fixed;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    background-color: rgba(191, 190, 190, 0.78);
}

.main__menu--item {
    color: var(--textParrafo);
}

.main__menu--item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.main__menu--link {
    color:var(--textParrafo);
    text-decoration: none;
    font-size: 15px;  
    font-weight: 500;
}

.main__menu--link:hover {
    color: #8e7bef;
}
.main__menu--show {
    transform: translateX(0);
}

@media (min-width: 900px){

    .main__nav { 
        width: 100%;
        max-width: 100%;
        height: 5rem;
        margin: 0 auto;
    }
    .main__menu {
        height: 5rem;
        width:1200px;
        max-width: 100%;
        margin: 1rem auto;
        transform: translateX(0);
        transition: transform 1.2s;
        position: static;
        background-color: rgba(59, 59, 59, 0);

        display: flexbox;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }

    .main__menu--link {
        color:var(--textParrafo);
        text-decoration: none;
        font-size: 19px;  
    }

    .main__menu--item {
        color: var(--textParrafo);
    }
    
    .main__menu--item:hover {
        transform: scaleX(1.1);
        transition: 0.4s;
    }
}

.main__menu--item {
    padding: 1rem;
}

/* ----------- design de portada -----------  */
.portada{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content__img--perfil {
    width: 100%;
    text-align: center;
}
.perfil__img {
    width: 100%;
    max-width: 370px;
    border-radius: 50%;
    box-shadow: 10px 10px #8e7bef7e;
}

.portada__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.perfil__title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
     
}

.perfil__text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: var(--textParrafo);
}

.icons__redes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.icons__img {
    background-color: var(--firstColor);
    width: 2.8rem;
    padding: 5px;
    border-radius: 50%;
}
.icons__img:hover {
    cursor: pointer;
    background-color: var(--secondColor);
    transform: scale(1.1);
    transition: 0.3s;
}

button {
    
    background-color: var(--secondColor);
    color: whitesmoke;
    width: 100%;
    max-width: 400px;
    font-size: 17px;
    padding: 0.7em 2em;
    letter-spacing: 1.5px;
    font-weight: 500;
    border-radius: 0.1rem;
}
button:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.4s;
}

@media (min-width:900px) {
    .content__img--perfil { 
        width: 100%;
    }

    .perfil__img {
        min-width: 320px;
        max-width: 500px;
    }

    .portada {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7rem;
        max-width: 1100px;
        margin: 0 auto;
    }

    .portada__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .perfil__title {
        text-align: start;
        font-size: 85px;
    }

    .perfil__text {
        font-size: 24px;
        text-align: start;
        max-width: 400px;
    }

    .icons__redes {
        display: flex;
        justify-content: start;
        gap: 2.8rem;
    }

    .icons__img {
        width: 3.5rem;
        padding: 11px;
    }

    button {
        margin-top: 2rem;
        max-width: 300px;
    }
}


/* --------- design  de ABOUT ---------- */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: auto;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.about__text {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.4rem;
    color: var(--textParrafo);
}

@media (min-width:900px) {
    .about {
        max-width: 850px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin: 0 auto;
    }
    .subtitle {
        font-size: 32px;
        font-weight: 600;
    }
    .about__text {
        font-size: 19px;
        line-height: 2rem;
    }
}

/* -------------- Design de SKILLS -----------*/

.main__skills {
    max-width: 1100px;
    width: 90%;
}

.container__card {
    margin-top: 3rem;
    margin-left: 3rem;
}

.card__skill {
    display: inline-block;
    max-width: 190px;
    width: 100%; 
    margin: 1rem auto;
    margin-right: 0.8rem;
}

.card__skill h3 {
    color: var(--secondColor);
    text-align: center;
    margin-bottom: 1rem;
}

.card__title {
    display: flex; 
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

.text__tech {
    margin-top: 1rem;
    color: var(--textParrafo);
    font-size: 14px;
    line-height: 1.2rem;
}

.icon__tech--design {
    width: 36px;
    height: 36px;
    background-color: rgb(217, 201, 201);
    border-radius: 50%;
}


@media (min-width: 900px){

    .main__skills {
        margin: 0 auto;
    }

    .container__card {
        display: flex;
        justify-content: space-around;
    }
}


/* ---------- Desgin de Experiences ----------- */
.content__experience {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
}

.card__experience {
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.icon__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text__small {
    font-size: 12px;
    color: var(--textParrafo);
}


@media (min-width:900px) {

    .content__experience {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1150px;
        margin: 2rem auto; 
        gap: 3rem;
    }
    
    .card__experience {
        width: 100%;  
    }
}

/* -------- design de Portafolio ------- */
.proyects {
    width: 100%;
}

.content__card {
    margin: 2rem auto;
}

.card__img {
    width: 90%;
    height: 300px;
    max-width: 320px;
    margin-top: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px rgb(195, 191, 191);
}

.card__img:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.6s;
}

@media (min-width:900px) {
    .proyects {
        margin: 0 auto;
        max-width: 1150px;
    }

    .card__img {
        margin: 1rem;
    }
}


/* ------------- Desgin de CONTACT ------------ */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.card__contact {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.icon__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
     
}

.contact__icon--img {
    width: 2.7rem;
}

.contact__icon--img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.subtitle__footer {
    color: var(--textParrafo);
    font-weight: bold;
}

.text__footer--icons {
    color: #4c4747;
}

.caption__footer {
    margin: 4rem auto;
    width: 90%;
    text-align: center;
}
.text__footer {
    color: var(--firstColor);
    font-size: 15px;
    font-weight: 500;
    display: inline;
}

.icons__footer{ 
    width: 22px;
    filter: invert(79%) sepia(57%) saturate(6687%) hue-rotate(216deg) brightness(94%) contrast(100%);
}

.github:hover { 
    cursor: pointer;
    filter: none;
    transform: scale(1.2);
    transition: 0.4s;
}



@media (min-width:700px) {
    .card__contact {
        margin-top: 2rem;
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .icon__cards img {
        width: 4rem;
        margin-bottom: 2rem;
    }
    .subtitle__footer {
        font-size: 16px;
        font-weight: bold;
    }
}